.toTop {
    position: fixed;
    width: 5%;
    height: 5%;
    background: url('../../resources/img/upToTop.png') center / contain no-repeat;
    z-index: 9999999;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    visibility: hidden;
    transition: all .35s ease-in-out;
}