@import '../../style/variables.scss';

.error {
    height: 100%;
    width: 100%;

    padding: 20px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: $dark;


    h2 {
        font-size: 34px;
        text-transform: uppercase;
        color: $main-color;

        animation: flicker 2.4s infinite;
    }

    p {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: -0.045em;
        color: #fff;
    }
}

@keyframes flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}