@use 'sass:math';

@function prc($pxF, $pxS) {
    $result: math.div($pxF, $pxS) * 100%;
    @return $result;
}

@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import './button';

* {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.app {
    width: rem(1100);
    margin: 0 auto;
    padding: rem(50) 0 0 0;
    position: relative;

    .bg-decoration {
        position: absolute;
        right: 0;
        bottom: 0;
        width: rem(380);
        z-index: -1;
    }
}

main {
    margin-top: rem(50);
    position: relative;
}

img {

    &[src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg"],
    &[src="http://i.annihil.us/u/prod/marvel/i/mg/f/60/4c002e0305708.gif"] {
        object-fit: unset;
    }
}

.page {
    &-enter {
        opacity: 0;
        transform: scale(1.1);

        &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 300ms, transform 300ms;
        }
    }

    &-exit {
        opacity: 1;
        transform: scale(1);

        &-active {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 300ms, transform 300ms;
        }
    }
}

// disable modal
.outer {
    display: none;
}

.pulse {
    animation: pulse 1.5s ease-in-out .5s infinite
}

@keyframes pulse {
    0% {
        opacity: 1
    }

    50% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

// infscrl components
.infinite-scroll-component__outerdiv,
.infinite-scroll-component {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

// media

@media screen and (min-width: 2560px) {
    .app {
        width: rem(1500);

        .button {
            width: 125px;
        }
    }

    .char__content {
        justify-content: space-between;
        grid-template-columns: 950px 500px;
    }

    .char__grid {
        grid-template-columns: repeat(4, 225px);
        row-gap: 50px;
    }

    .char__search-wrapper {
        input {
            width: 285px;
        }

        button {
            width: 125px;
        }
    }

    .char__basics {
        & div {
            width: 250px;
        }

        .button {
            width: 110px;
        }
    }
}


@media screen and (max-width: 1124px) {
    main {
        position: relative;
    }

    .app {
        width: rem(780);

        .button {
            width: 125px;
        }
    }

    .randomchar {
        height: 210px;

        &__block {
            padding: 30px 25px;
            grid-template-columns: 150px auto;
            column-gap: 20px;

            height: 210px;

            .button {
                width: 70px;
                font-size: rem(12);
            }

            img {
                width: 150px;
                height: 150px;
            }
        }

        &__info {
            height: 100%;
            padding: 0;
        }

        &__name {
            font-size: rem(17.5);
            margin-bottom: 0;
        }

        &__descr {
            font-size: rem(12);
            display: block;
            height: 20px;
            margin-top: -10px;
        }

        &__btns {
            display: flex;
            justify-content: center;
            gap: 20px;

            a:nth-child(1) {
                margin-right: 0px;
            }
        }
        
        //stacit

        &__static {
            height: 210px;
            padding: 26px 20px 30px 20px;
            overflow: hidden;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                &:last-of-type {
                    display: none;
                }
            }
        }

        &__title {
            font-size: rem(20);
        }

        &__decoration {
            width: 160px;
        }
    }

    .char__content {
        // grid-template-columns: 1fr;
        // grid-template-areas: "column-1"
        //     "column-2";

        display: flex;
        flex-direction: column-reverse;

        flex: 1 1 auto;

        & .char__list {
            // grid-area: column-2;
            width: 100%;

            .char__grid {
                grid-template-columns: repeat(3, auto);
                gap: 50px;

                .card {
                    &__block {
                        width: 100%;
                    }
                }
            }
        }

        & .char__sidebar {
            // grid-area: column-1;
            width: 100%;
            z-index: 999;
            position: relative;
            top: 0;
            margin-bottom: 25px;

            .char__info {
                display: none;
            }

            .char__search-form {

                & button,
                .button {
                    width: 125px;
                }

                form {
                    div.char__search-wrapper {
                        gap: 20px;
                        input {
                            width: 80%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .outer {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000, $alpha: .4);
        z-index: 99999;
        opacity: 0;
        transition: all .2s ease;
        pointer-events: none;
        overflow: hidden;

        &__content {
            position: fixed;
            top: 50%;
            left: 50%;
            opacity: 0;
            transform: translate(-50, -50%);
            transform: scale(0);
            transition: all .2s ease;
        }

        &.active {
            pointer-events: all;
            opacity: 1;

            .outer__content {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .char__info-modal {
        position: absolute;
        padding: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: visible;
        background-color: #fff;
        z-index: 99999;
        border-radius: 10px;

        .char__basics {
            gap: 20px;

            button,
            .button {
                width: 90px;
            }
        }
    }
}