@import '../../style/variables.scss';

.char {
    &__info {
        padding: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        z-index: 5;
        background-color: #fff;
        position: relative;

        &.sticky {
            position: sticky;
            top: 25px;

        }

        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }

        .skeleton {
            margin-top: 30px;
        }
    }

    &__basics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-wrapper {
            &-node {
                &-enter {
                    opacity: 0;
                    transform: rotateX(180deg);

                    &-active {
                        opacity: 1;
                        transform: rotateX(0deg);
                        transition: opacity 400ms, transform 400ms;
                    }
                }

                // &-exit {
                //     opacity: 1;

                //     &-active {
                //         opacity: 0;
                //         transform: scale(0.9);
                //         transition: opacity 400ms, transform 400ms;
                //     }
                // }
            }
        }

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        & div {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__btns {
        width: 200px;

        div {
            flex-direction: row;
            justify-content: space-between;

            a {
                div {
                    justify-content: center;
                }
            }
        }
    }

    &__descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    &__comics {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        margin-top: 10px;

        &-list {
            position: relative;
            margin-top: 10px;
        }

        &-item {
            width: 100%;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
        }
    }

    &__select {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

}